<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <div class="container form-signin">
            <div class="py-5 text-center">
                <h2>Entrar</h2>
            </div>
    
            <form class="row g-3">
                <div class="col-md-12">
                    <label for="inputEmail" class="form-label">Usuário</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="" />
                </div>
    
                <div class="col-md-12">
                    <label for="inputPassword" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="inputPassword" />
                </div>
    
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button type="button" class="btn btn-primary px-4 me-md-2">Entrar</button>
                    <button type="button" class="btn btn-outline-secondary px-4 me-md-2">Cancelar</button>
                </div>
            </form>
        </div>
    </main>        
</body>
    
<footer th:replace="~{fragments :: footer}"></footer>
</html>